@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro:ital,wght@0,400;0,700;1,400;1,700");

@import "tailwindcss";
@import "@fontsource/maple-mono";

@plugin "daisyui" {
  themes:
    light --default,
    dark --prefersdark,
    night;
}

@plugin '@tailwindcss/typography';

@theme {
  --font-sans: "Anonymous Pro", "monospace";
  --font-mono: "Maple Mono", "monospace";
  --font-primary: "Montserrat", "sans-serif";
}

@layer base {
  html {
    font-size: 16px;
  } /* default is ~16px;*/
}
