---
import BaseLayout from '../layouts/BaseLayout.astro'
import { getCollection } from 'astro:content';

const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
const pageTitle = "Blog";

const posts = await getCollection('blog');
---
<BaseLayout pageTitle={pageTitle}>
  <ul>
    {posts.map(post => (
      <li><a class="link" href={`/posts/${post.id}`}>{post.data.title}</a></li>
    ))}
  </ul>
</BaseLayout>
